<ion-header>
  <ion-toolbar class="header">
    <ion-title id="Appname">StarGaze Cinema</ion-title>
    <ion-button fill="clear" item-right (click)="deleteTable()" slot="end">
      Delete All
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-item button *ngFor="let item of movies"
    [routerLink]="['/tabs/watchlater', item.imdbID]"  >
  
      <img [src]="item.Poster" height="180" 
      style="border-radius: 10pt; padding-right: 10px; padding-bottom: 10px;" *ngIf="item.Poster != 'Not Available'" alt="">
  
      <ion-label text-wrap >
      <h3 class="item-title">{{item.Title}}</h3>
      <h4 class="item-year">{{item.Year}}</h4>
      </ion-label>
    </ion-item>
  </ion-list>
 
</ion-content>

