<ion-header>
  <ion-toolbar>
    <ion-title>watchlater</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="deleteTable()">Delete table</ion-button>
  <ion-list>
    <ion-item button *ngFor="let item of movies"
    [routerLink]="['/tabs/moviedetails', item.imdbID]"
    >
  
      <img [src]="item.Poster" height="60" style="border-radius: 40%; padding-right: 10px; padding-bottom: 10px;" *ngIf="item.Poster != 'Not Available'" alt="">
  
  <ion-label text-wrap>
  <h3>{{item.Title}}</h3>
  <h4><b>Release date:</b> {{item.Year}}</h4>
  </ion-label>
  
    </ion-item>
  </ion-list>
</ion-content>
