<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon src="/assets/icon/icons8-home.svg"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="searched-results">
      <ion-icon src="/assets/icon/icons8-search.svg"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="watchlater">
      <ion-icon class="iconstar" name="star-outline"></ion-icon>
      <ion-label>Watch Later</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
