.rating {font-size: 45px;}

h1 {
    color: white;
    font-family: Montserrat-Bold;
    font-size: 20pt;
}
h2{
    color: white;
    font-family: Montserrat;
    font-size: 17pt;
}
h3{
    color: white;
    font-family: Montserrat;
    font-size: 14pt;
}
span {
    color: #FBC91D;
    font-weight: bolder;
}
.movieinfo {
    color: #FBC91D;
    font-family: Montserrat-Bold;
}
.header {
    --background: #1E172E;
}
ion-icon {
    color: #FBC91D;
}