<ion-header>
  <ion-toolbar>
    <ion-title>Discover</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<ion-list>
  <ion-item button *ngFor="let item of results"
  [routerLink]="['/tabs/moviedetails', item.imdbID]"
  >

    <img [src]="item.Poster" height="250" style="border-radius: 10pt; padding-right: 10px; padding-bottom: 10px;" *ngIf="item.Poster != 'Not Available'" alt="">

<ion-label text-wrap >
<h3 class="item-title"><b>{{item.Title}}</b></h3>
<h4 ><b>Release date:</b> {{item.Year}}</h4>
</ion-label>
<!-- 
<ion-icon slot="end" *ngIf="item.Type == 'movie'" name="videocam"></ion-icon>
<ion-icon slot="end" *ngIf="item.Type == 'series'" name="tv"></ion-icon>
<ion-icon slot="end" *ngIf="item.Type == 'game'" name="logo-game-controller-b"></ion-icon> -->

  </ion-item>
</ion-list>
</ion-content>
