<ion-header>
  <ion-toolbar class="header">
    <ion-title id="Appname">StarGaze Cinema</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br/>
  <ion-label class="label">Recommended for You</ion-label> <br/> 
  <ion-card class="card" button="true" *ngFor="let item of results"
    [routerLink]="['/tabs/moviedetails', item.imdbID]">
      <div class="crop">
        <img src="{{item.Poster}}" />
      </div>

    <ion-card-content style="padding: 15px">
      <ion-label class="item-year"> {{item.Year}}</ion-label> 
      <br/>
      <ion-label  class="item-title">{{item.Title}}</ion-label >
    </ion-card-content>
  </ion-card>
</ion-content>
